html.dark {
  --background: #252525;
  --text-colour: #898989;
  --background-colour: #1a1a1a;
  --background-colour-1: #898989;
  --background-colour-2: #252525;
  --background-colour-3: #252525;
  --modal-overlay: rgba(12, 12, 12, .64);
  --box-shadow: none;
  --text-colour-1: #d1d1d1;
  --text-colour-2: #767676;
  --text-colour-3: #767676;
  --text-colour-4: #767676;
  --text-colour-5: #767676;
  --text-colour-6: #d1d1d1;
  --text-colour-7: #898989;
  --text-colour-8: #767676;
  --text-colour-9: #767676;
  --text-colour-10: #898989;
  --border-colour-1: #252525;
  --border-colour-2: #303030;
  --border-colour-3: transparent;
  --border-colour-4: #767676;
  --select_menu_background: #303030;
  --colour-gray: #8e949d;
  --colour-green: #15b698;
  --colour-red: #f62423;
  --bg-gray: #767676a8;
  --bg-green: #005343;
  --bg-red: #590000;
  --form-background-colour: #303030;
  --form-colour: #767676;
  --border: none;
  --box-shadow-dropdown: none;
}
