body {
  .portal, .backend {
    .SingleDatePicker .SingleDatePickerInput .DateInput.DateInput__disabled,
    .b-select-search .select__react__control.select__react__control--is-disabled,
    .react-tel-input input:disabled + .flag-dropdown,
    .SingleDatePickerInput__disabled,
    input.DateInput_input:disabled,
    select.b-select:disabled,
    input.input__text:disabled,
    input[type="file"]:disabled,
    textarea:disabled,
    .disable .StripeElement,
    .SingleDatePicker .SingleDatePickerInput .DateInput .DateInput_input:disabled{
      border: none !important;
      background: #FFF !important;
      color: #1E2D3B !important;
      cursor: default;
      opacity: 1 !important;
    }

    .input__wrap.disable, .input.disable {
      cursor: default;
      opacity: 1;
      color: #1E2D3B;
    }

    .b-checkbox.disable {
      opacity: 1;
      cursor: default;
    }

    .b-checkbox input[type=checkbox]:disabled, .b-radio input[type=radio] {
      + label span {
        cursor: default;
      }

      + label i:not(.label-normal) {
        color: #75808a;
        cursor: default;
        font-size: 14px;
      }
    }

    .b-select-search .select__react__value-container .select__react__single-value {
      color: var(--form-colour) !important;
    }

  }
}


html.dark {
  body {
    .portal, .backend {
      .SingleDatePicker .SingleDatePickerInput .DateInput .DateInput_input,
      .b-select-search .select__react__control.select__react__control,
      .content__filter .select__react .select__react__control,
      .react-tel-input input + .flag-dropdown,
      .SingleDatePickerInput,
      input.DateInput_input,
      select.b-select,
      input.input__text,
      input[type="file"],
      textarea,
      .StripeElement {
        border: var(--border) !important;
        background: var(--form-background-colour) !important;
        color: var(--form-colour) !important;
        cursor: default;
        opacity: 1 !important;

        &::placeholder {
          color: var(--form-colour-placeholder) !important;
        }
      }

      .modal__content {
        .SingleDatePicker .SingleDatePickerInput .DateInput .DateInput_input,
        .b-select-search .select__react__control.select__react__control,
        .content__filter .select__react .select__react__control,
        .react-tel-input input + .flag-dropdown,
        .SingleDatePickerInput,
        input.DateInput_input,
        select.b-select,
        input.input__text,
        input[type="file"],
        textarea,
        .StripeElement {
          background: var(--form-background-colour-2) !important;
        }
      }

      .search-filter {
        border: var(--border) !important;
        background-color: var(--form-background-colour) !important;
        color: var(--form-colour) !important;
      }

      .content__filter .content__filter-clear {
        color: var(--text-colour-1);
        background: var(--form-background-colour);
      }

      .input__wrap, .input {
        cursor: default;
        opacity: 1;
        color: var(--form-colour);
      }

      .b-checkbox {
        opacity: 1;
        cursor: default;
      }

      .b-checkbox input[type=checkbox], .b-radio input[type=radio] {
        + label span {
          cursor: default;
        }

        + label i:not(.label-normal) {
          color: var(--text-colour-5);;
          cursor: default;
        }
      }

      .select__react {
        .select__react__value-container {

          .select__react__single-value {
            color: var(--form-colour) !important;
          }
        }

        .select__react__control {
          border: var(--border);
          background: var(--form-background-colour) !important;
          color: var(--form-colour) !important;

          &:hover {
            border: var(--border);
            background: var(--form-background-colour) !important;
            color: var(--form-colour) !important;
            box-shadow: initial;
          }
        }


        .select__react__menu {
          background: var(--form-background-colour) !important;
          color: var(--form-colour) !important;

          .select__react__menu-list {

            .select__react__option--is-focused {
              background: var(--background) !important;
              color: var(--form-colour) !important;
            }

            .select__react__option--is-selected {
              background: var(--background) !important;
              color: var(--form-colour) !important;
            }
          }
        }
      }

      .DayPicker__withBorder, .DayPicker_focusRegion, .CalendarMonthGrid, .CalendarMonth {
        background: var(--background-colour) !important;
      }

      .CalendarMonth_caption {
        color: var(--form-colour) !important;
      }

      .DayPickerNavigation {
        .DayPickerNavigation_button {
          border: 1px solid var(--background-colour) !important;
          box-sizing: border-box;
          color: var(--text-colour-2);
          background-color: transparent;
        }
      }
    }

    .CalendarDay__default {
      background-color: var(--form-background-colour);
      color: var(--text-colour-2);
      border: 1px solid var(--border-colour-1);

      &:hover {
        background-color: var(--background-colour);
        color: var(--text-colour-2);
        border: 1px solid var(--background-colour) !important;
      }
    }

    .CalendarDay__selected, .CalendarDay__selected:hover {
      background-color: var(--background-colour) !important;
      color: var(--text-colour-2) !important;
      border: 1px solid var(--background-colour) !important;
    }
  }
}


