html.light {
  --background: #F6F9FC;
  --text-colour: #1E2D3B;
  --background-colour: #fff;
  --background-colour-1: #E9F4FD;
  --background-colour-2: #f3f6fa;
  --background-colour-3: #fff;
  --box-shadow: 0 2px 45px rgb(110 115 157 / 12%);
  --modal-overlay: rgba(32, 31, 31, .64);
  --text-colour-1: #1f8ceb;
  --text-colour-2: #1e2d3b;
  --text-colour-3: #000A70;
  --text-colour-4: #7E8299;
  --text-colour-5: #75808a;
  --text-colour-6: #1e2c3c;
  --text-colour-7: inherit;
  --text-colour-8: #000;
  --text-colour-9: #828c97;
  --text-colour-10: #383442;
  --border-colour-1: #eff2f5;
  --border-colour-2: #c5cacf;
  --select_menu_background: #e4e7e7;
  --bg-gray: #ebeff5;
  --bg-green: #E8FFF3;
  --bg-red: #fff5f8;
  --colour-gray: #8e949d;
  --colour-green: #15b698;
  --colour-red: #f62423;
  --box-shadow-dropdown: 0 2px 45px rgb(110 115 157 / 50%);
}
